@import 'config';

.bio{

    .bio-container{
        padding: 0;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        .name-title{
            display: none;
        }

        .profile-image-container{
            background-color: $card-color;
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }

        img{
            margin-top: 5rem;
            width: 92vw;
            height: 92vw;
            //border-radius(topLeft, topRight, bottomRight, bottomLeft)
            border-radius: 0 0 15% 15%;
        }

        .bio-text{

            .bio-background{
                display: none;
            }


            padding: 1.5em;

            .bio-subtitle{
                padding: 0.5em 0;
                font-size: 18px;
                text-transform: uppercase;
                font-family: $secondary-font;
            }

            .bio-caption{
                font-size: 14px;
                color: $tertiary-text-color;
                line-height: 22px;
            }

        }
    }
}

.cta-buttons{
    display: flex;
    padding-top: 20px;
    button:nth-child(1){
       margin-right: 20px;
    }
}


.title{
    color: $accent-color;
    font-size: 32px;
    text-transform: uppercase;
    font-style: bold;
    font-family: $secondary-font;
    font-style: normal;
}