button:not(.ghost-button) {

  position: relative;
    padding: 12px 32px 12px 32px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $secondary-font;
    align-self: center;
    color: $background-color;
    background-color: $accent-color!important;
    font-style: normal;
    border: 2px solid $accent-color!important;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: ease-in-out .3s;

    &:hover{
      background-color: $highlight-color!important;
      border: 2px solid $highlight-color!important;
    }
    

  }

  button.ghost-button{
    
    position: relative;
      padding: 12px 32px 12px 32px;
      font-size: 18px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $secondary-font;
      align-self: center;
      color: $accent-color;
      background-color: $background-color!important;
      
      font-style: normal;
      border: 2px solid $accent-color!important;
      background: none;
      z-index: 1;
      cursor: pointer;
      transition: ease-in-out .3s;
  
      &:hover {
        color: $highlight-color;
        border-color: $highlight-color!important;
      }
  
  }
  



  
  
  