$accent-color: #ADCC7A;
$card-color: #4C4F47;
$background-color: #404040;
$text-color: white;
$tertiary-text-color: #CCCCCC;
$card-title-color: #8CA06C;
$highlight-color: #FAFA7B;

$default-font-family: "Oxygen";
$secondary-font: "Urbanist";