@import 'config';

footer{
    display: flex;
    flex-flow: column;
    background-color: $card-color;
    padding: 2em;

    .footer-title{
        font-size: 1.5em;
        color: $accent-color;
        font-family: $secondary-font;
        font-style: normal;
    }

    .footer-icons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-left: 2rem;
        padding-top: 3em;
        .social{
            margin-right: 10px;
            border:2px solid $text-color;
            display: flex;
            text-decoration: none;
            @include flex-justification;
            width: 50px;
            height: 50px;
            border-radius: 8px;
            transition: ease-in-out .5s;
            transform: scale(1) translateX(-50%) translateY(-50%);

            &:before {
                content: "";
                position: absolute;
                background:$accent-color;
                bottom: 50%;
                left: 50%;
                right: 50%;
                top: 50%;
                width: 0;
                height: 0;
                z-index: -1;
                border-radius: 8px;
                transition: ease-in-out .3s;
                transform: scale(1) translateX(-50%) translateY(-50%);
              }

              &:hover{
                  i{
                    color: $card-color;
                  }
              }
              
              &:hover:before {
                width: 100%;
                height: 100%;
                border: 2px solid $accent-color;
              }
            

            i{
                color: $text-color;
                font-size: 30px;
            }

        }
    }
}