@mixin section-project {
    .section-project{
        padding: 1em;
        display: flex;

        .card-title{
            font-size: 10vh;
            height: 20%;
            margin-left: auto;
            line-height: 0.8em;
            color: $accent-color;
            font-family: $secondary-font;
            text-orientation: mixed;
            writing-mode: vertical-rl;
            font-style: normal;
            text-shadow: 1px 5px 10px $background-color;
            
        }

        .project-container{

            width: 60vw;
    
            .container-cta{
                margin-top: 5%;
                margin-bottom: 5%;
    
                button{
                    width: 100%;
                }
    
            }
        
            img{
                border-radius: 12px;
                margin-right: 1em;
                width: 90vw;
                height: 90vw;
                object-fit: contain;
                object-position: center;
            }

        }

      
    }
}

.projects{
    display: flex;
    flex-flow: column;
    transition: all 1s ease-in-out;

    @include section-project();
}

.container{
    transition: height 1s ease-in-out;
    display: none;

    &.closed{
        animation: fadeOut 0.5s;
        animation-direction: top;
    }

    &.opened{
        animation: fadeIn 0.5s;
        animation-direction: bottom;
    }

    @include section-project();

}

.call-to-action{
    padding: 2em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100vh) scaleY(0);
    } 
    100% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        height: 1em;
        transform: translateY(0) scaleY(1);
    } 
    100% {
        opacity: 0;
        transform: translateY(-100vh) scaleY(0);
        height: 0;
    }
}

