@import 'config';

@mixin media-md {
    @media screen and (min-width: 768px){
        @content
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content
    }
}

@include media-md{

    .logo-container{
        z-index: 2;
        position: absolute;
        width: 30%;
    }

    .menu-btn{
        visibility: hidden;
    }

    header{
        .navbar-container{
            height: 5rem!important;
        }

        .nav{
            visibility: visible;
            display: flex;
            align-items: center;
            width: 100%;
            .menu-nav{
                visibility: visible;
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                transform: translateY(0);
                height: 5em;
                width: 20%;
                background-color: transparent;
                text-align: right;
    
                &-item{
                    transform: translateY(0);
                    vertical-align: middle;
                    display: inline;
                    font-size: 1em;
                }
    
                
            }
        }
    }

    .bio{
        width: 100%;
    
        .bio-container{
            padding: 1em;
            height: 100vh;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .bio-background{
                display: block!important;
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 110%;
                top: 5%;
                left: 0;
                object-fit: cover;
                overflow: hidden;
            }
    
            img{
                width: 60vh;
                height: 60vh;
                border-radius: 40px;
            }

            .bio-text{
                padding-left: 1em;
            }
    
        }
    
    }

    .cards{
        padding: 3em!important;
        display: grid!important;
        grid-template-columns: repeat(3, 1fr);

        .desc-card-caption{
            font-size: 2em;
        }

    }

    .projects{
        padding: 3em!important;
        display: grid!important;
        grid-template-columns: repeat(3, 3fr);

        .section-project{
            img{
                width: 200px!important;
                height: 200px!important;
            }
        }
    }

    .container{

        &.opened{  
            padding: 3em!important;
            display: grid!important;
            grid-template-columns: repeat(3, 3fr);
        }

        .section-project{
            img{
                width: 200px!important;
                height: 200px!important;
            }
        }

    }

    footer{
        display: flex;
        flex-direction: row!important;
        justify-content: space-between!important;
    }

}