@import 'config';

@mixin media-md {
    @media screen and (min-width: 768px){
        @content
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content
    }
}

@include media-md{

    .logo-container{
        z-index: 2;
        position: absolute;
        width: 30%;
    }

    .menu-btn{
        visibility: hidden;
    }

    header{
        .navbar-container{
            height: 5rem!important;
        }

        .nav{
            visibility: visible;
            display: flex;
            align-items: center;
            width: 100%;
            .menu-nav{
                visibility: visible;
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                transform: translateY(0);
                height: 5em;
                width: 20%;
                background-color: transparent;
                text-align: right;
    
                &-item{
                    transform: translateY(0);
                    vertical-align: middle;
                    display: inline;
                    font-size: 1em;
                }
    
                
            }
        }
    }


    .bio{
        width: 100%;

        .title{
            font-size: 60px!important;
        }

        .bio-subtitle{
            font-size: 36!important;
        }
    
        .bio-container{
            padding: 1em;
            height: 100vh;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .profile-image-container{
                background-color: transparent!important;
            }

            .bio-caption{
                font-size: 24px!important;
                line-height: 32px!important;
                padding-right: 12vw!important;
            }

            .name-title{
                display: block!important;
                z-index: -1;
                position: absolute;
                text-align: right;
                margin-right: 0.5em;
                font-family: $secondary-font;
                font-size: 13vw;
                line-height: 0.8em;
                color: rgba($color: #D8FF98, $alpha: 0.25)
    
            }
    
            img{
                width: 60vh;
                height: 60vh;
                border-radius: 40px;
            }

            .bio-text{
                padding-left: 1em;
            }
    
        }
    
    }

    .cards{
        
        display: flex;
        flex-direction: row!important;

        .card{
            width: 33vw;

            &-title{
                font-size: 3em!important;
            }
        }
        

        .separator{
            width: 2px;
            height: auto !important;
            margin: 2px!important;
        }

        .desc-card-caption{
            font-size: 1.5em!important;
        }

    }

    .projects{
        padding: 3em!important;
        display: grid!important;
        grid-template-columns: repeat(3, 3fr);

        .section-project{

            text-align: center;

            img{
                width: 20vw!important;
                height: 20vw!important;
            }

        }
    }

    .container{

        &.opened{  
            padding: 3em!important;
            display: grid!important;
            grid-template-columns: repeat(3, 3fr);
        }

        .section-project{
            img{
                width: 20vw!important;
                height: 20vw!important;
            }
        }

    }

    footer{
        display: flex;
        flex-direction: row!important;
        justify-content: space-between!important;
    }

}