@import 'config';

@mixin flex-justification {
    align-items: center;
    justify-content: center;
}

.cards{

    display: flex;
    flex-flow: column;
    background-color: $card-color;
    padding: 1em;

    .separator{
        background-color: $card-title-color;
        height: 2px;
        margin: 8px;
    }

    .card{
        text-align: left;
        padding: 1em;
        display: flex;

        .card-content{
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-left: 2em;
            justify-content: space-between;
        }

        .card-icon{
            display: flex;
            flex-direction: column;
            padding: 1em;
            align-content: flex-end;
            align-items: flex-end;
            .icon-container{
                
                display: flex;
                @include flex-justification;
                width: 70px;
                height: 70px;
                border-radius: 8px;
                i{
                    color: $card-color;
                    font-size: 40px;
                }
            }
        }

        .card-title{
            font-size: 2em;
            text-transform: uppercase;
            color: $card-title-color;
            font-family: $secondary-font;
            font-style: normal;
            text-orientation: mixed;
            writing-mode: vertical-rl;
            text-align: left;
            height: 30%;
            
            transform: rotate(180deg);
        }

        .desc-card-caption{
            padding-top: 1em;
            font-size: 1em;
            color: $tertiary-text-color;
        }
    }

}