header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

header .navbar-container {
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
}

header .navbar-container.solid-nav {
  background-color: rgba(64, 64, 64, 0.8) !important;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

header .menu-btn {
  position: absolute;
  z-index: 1;
  right: 0rem;
  top: 2rem;
  height: 100px;
  width: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger {
  position: absolute;
  top: 0.5 rem;
  width: 30px;
  background-color: #ADCC7A;
  height: 4px;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger::before {
  content: '';
  position: absolute;
  border-top-left-radius: 4px;
  top: -8px;
  width: 30px;
  background-color: #ADCC7A;
  height: 4px;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 30px;
  border-bottom-left-radius: 4px;
  background-color: #ADCC7A;
  height: 4px;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background-color: transparent !important;
}

header .menu-btn-burger.open::before {
  width: 28px !important;
  border-radius: 4px;
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

header .menu-btn-burger.open::after {
  width: 28px !important;
  border-radius: 4px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  height: 3em;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #333333;
  list-style: none;
  padding-right: 1rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav-item {
  font-size: 2rem;
  padding: 2rem 0;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav-item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav-link {
  text-decoration: none;
  color: #ADCC7A;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Urbanist";
}

.nav .menu-nav-link.active {
  color: white;
}

.nav .menu-nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav .menu-nav-link:hover::after {
  width: 100%;
}

.nav .menu-nav-link:hover {
  color: white;
}

.menu-nav-item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav-item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav-item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.bio .bio-container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio .bio-container .name-title {
  display: none;
}

.bio .bio-container .profile-image-container {
  background-color: #4C4F47;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.bio .bio-container img {
  margin-top: 5rem;
  width: 92vw;
  height: 92vw;
  border-radius: 0 0 15% 15%;
}

.bio .bio-container .bio-text {
  padding: 1.5em;
}

.bio .bio-container .bio-text .bio-background {
  display: none;
}

.bio .bio-container .bio-text .bio-subtitle {
  padding: 0.5em 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Urbanist";
}

.bio .bio-container .bio-text .bio-caption {
  font-size: 14px;
  color: #CCCCCC;
  line-height: 22px;
}

.cta-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.cta-buttons .fill:nth-child(1) {
  margin-right: 20px;
}

.title {
  color: #ADCC7A;
  font-size: 32px;
  text-transform: uppercase;
  font-style: bold;
  font-family: "Urbanist";
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .logo-container {
    z-index: 2;
    position: absolute;
    width: 30%;
  }
  .menu-btn {
    visibility: hidden;
  }
  header .navbar-container {
    height: 5rem !important;
  }
  header .nav {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .nav .menu-nav {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 5em;
    width: 20%;
    background-color: transparent;
    text-align: right;
  }
  header .nav .menu-nav-item {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    vertical-align: middle;
    display: inline;
    font-size: 1em;
  }
  .bio {
    width: 100%;
  }
  .bio .title {
    font-size: 60px !important;
  }
  .bio .bio-subtitle {
    font-size: 36 !important;
  }
  .bio .bio-container {
    padding: 1em;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bio .bio-container .profile-image-container {
    background-color: transparent !important;
  }
  .bio .bio-container .bio-caption {
    font-size: 24px !important;
    line-height: 32px !important;
    padding-right: 12vw !important;
  }
  .bio .bio-container .name-title {
    display: block !important;
    z-index: -1;
    position: absolute;
    text-align: right;
    margin-right: 0.5em;
    font-family: "Urbanist";
    font-size: 13vw;
    line-height: 0.8em;
    color: rgba(216, 255, 152, 0.25);
  }
  .bio .bio-container img {
    width: 60vh;
    height: 60vh;
    border-radius: 40px;
  }
  .bio .bio-container .bio-text {
    padding-left: 1em;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .cards .card {
    width: 33vw;
  }
  .cards .card-title {
    font-size: 3em !important;
  }
  .cards .separator {
    width: 2px;
    height: auto !important;
    margin: 2px !important;
  }
  .cards .desc-card-caption {
    font-size: 1.5em !important;
  }
  .projects {
    padding: 3em !important;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (3fr)[3];
        grid-template-columns: repeat(3, 3fr);
  }
  .projects .section-project {
    text-align: center;
  }
  .projects .section-project img {
    width: 20vw !important;
    height: 20vw !important;
  }
  .container.opened {
    padding: 3em !important;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (3fr)[3];
        grid-template-columns: repeat(3, 3fr);
  }
  .container .section-project img {
    width: 20vw !important;
    height: 20vw !important;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #4C4F47;
  padding: 1em;
}

.cards .separator {
  background-color: #8CA06C;
  height: 2px;
  margin: 8px;
}

.cards .card {
  text-align: left;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-left: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .card .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cards .card .card-icon .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.cards .card .card-icon .icon-container i {
  color: #4C4F47;
  font-size: 40px;
}

.cards .card .card-title {
  font-size: 2em;
  text-transform: uppercase;
  color: #8CA06C;
  font-family: "Urbanist";
  font-style: normal;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: left;
  height: 30%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards .card .desc-card-caption {
  padding-top: 1em;
  font-size: 1em;
  color: #CCCCCC;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.projects .section-project {
  padding: 1em;
}

.projects .section-project .card-title {
  font-size: 1.5em;
  color: #ADCC7A;
  font-family: "Urbanist";
  font-style: normal;
}

.projects .section-project .container-cta {
  margin-top: 5%;
  margin-bottom: 5%;
}

.projects .section-project .container-cta button {
  width: 100%;
}

.projects .section-project img {
  border-radius: 12px;
  margin-right: 1em;
  width: 90vw;
  height: 90vw;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.container {
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  display: none;
}

.container.closed {
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
  -webkit-animation-direction: top;
          animation-direction: top;
}

.container.opened {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  -webkit-animation-direction: bottom;
          animation-direction: bottom;
}

.container .section-project {
  padding: 1em;
}

.container .section-project .card-title {
  font-size: 1.5em;
  color: #ADCC7A;
  font-family: "Urbanist";
  font-style: normal;
}

.container .section-project .container-cta {
  margin-top: 5%;
  margin-bottom: 5%;
}

.container .section-project .container-cta button {
  width: 100%;
}

.container .section-project img {
  border-radius: 12px;
  margin-right: 1em;
  width: 90vw;
  height: 90vw;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.call-to-action {
  padding: 2em;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100vh) scaleY(0);
            transform: translateY(-100vh) scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100vh) scaleY(0);
            transform: translateY(-100vh) scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    height: 1em;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100vh) scaleY(0);
            transform: translateY(-100vh) scaleY(0);
    height: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    height: 1em;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100vh) scaleY(0);
            transform: translateY(-100vh) scaleY(0);
    height: 0;
  }
}

button {
  position: relative;
  padding: 12px 32px 12px 32px;
  font-size: 18px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Urbanist";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ADCC7A;
  font-style: normal;
  border: 2px solid #ADCC7A !important;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: #404040;
}

.fill:before {
  content: "";
  position: absolute;
  background: #ADCC7A;
  bottom: 50%;
  left: 50%;
  right: 50%;
  top: 50%;
  width: 0;
  height: 0;
  z-index: -1;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
          transform: scale(1) translateX(-50%) translateY(-50%);
}

.fill:hover:before {
  width: 100%;
  height: 100%;
  border: 2px solid #ADCC7A;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #4C4F47;
  padding: 2em;
}

footer .footer-title {
  font-size: 1.5em;
  color: #ADCC7A;
  font-family: "Urbanist";
  font-style: normal;
}

footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
  padding-top: 3em;
}

footer .footer-icons .social {
  margin-right: 10px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
          transform: scale(1) translateX(-50%) translateY(-50%);
}

footer .footer-icons .social:before {
  content: "";
  position: absolute;
  background: #ADCC7A;
  bottom: 50%;
  left: 50%;
  right: 50%;
  top: 50%;
  width: 0;
  height: 0;
  z-index: -1;
  border-radius: 8px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
          transform: scale(1) translateX(-50%) translateY(-50%);
}

footer .footer-icons .social:hover i {
  color: #4C4F47;
}

footer .footer-icons .social:hover:before {
  width: 100%;
  height: 100%;
  border: 2px solid #ADCC7A;
}

footer .footer-icons .social i {
  color: white;
  font-size: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oxygen";
  outline: none;
  scroll-behavior: smooth;
}

body {
  background-color: #404040;
  color: white;
  font-family: "Oxygen";
  font-weight: 50;
  height: 100vh;
  overflow-x: hidden;
}

body .subtitle {
  font-size: 3em;
  color: #ADCC7A;
  font-family: "Urbanist";
  font-style: normal;
  padding: 0 1rem;
}

body .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .logo-container .logo {
  font-size: 30px;
  font-family: "Urbanist";
  color: #ADCC7A;
  padding-right: 5px;
  font-style: normal;
}

body .logo-container .second {
  color: white;
  padding-top: 5px;
  font-size: 20px;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */