@import 'config';
@import 'menu';
@import 'bio';
@import 'responsive';
@import 'stacks';
@import 'projects';
@import 'button';
@import 'footer';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $default-font-family;
    outline: none;
    scroll-behavior: smooth;
    font-style: italic;
}

body{
    background-color: $background-color;
    color: $text-color;
    font-family: $default-font-family;
    font-weight: 50;
    height: 100vh;

    .subtitle{
        font-size: 3em;
        color: $accent-color;
        font-family: $secondary-font;
        font-style: normal;
        padding: 0 1rem;
    }

    .logo-container{
        display: flex;
        align-items: center;
        .logo{
            font-size: 30px;
            font-family: $secondary-font;
            color: $accent-color;
            padding-right: 5px;
            font-style: normal;
        }
        
        .second{
            color: $text-color;
            padding-top: 5px;
            font-size: 20px;
            font-style: normal;
        }
    }
}
